
img {
    height: 152px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 11.5px;
    font-weight: 1000;
  }

#one-box {
    margin-top: 80px;
}
.modal-content {
      background: rgb(255, 250, 229);
      box-sizing: border-box;
      border-radius: 40px;
      width: 700px;
      max-width: 800px;
      padding: 15px;
      box-shadow: 0 1px 3px var(--shadow-6), 0 1px 2px var(--shadow-8);
  }

.modal-header {
    border-bottom: 0px
  }

  .modal-title {
      font-weight: 800px;
  }
  .option-group {
      max-height: 100px;
      position: absolute;
      right: 50px;
      bottom: -28px;
  }

  .button {
      background-color:#0AB5CD;
      color: white;
      margin-left: 4px;
      margin-right: 2px;
  }